// fonts
$font-primary-regular: 'Montserrat-Regular', Arial, sans-serif;
$font-primary-light: 'Montserrat-Light', Arial, sans-serif;
$font-primary-bold: 'Montserrat-Bold', Arial, sans-serif;


// colors
$cl-blue: #00567A;
$cl-red: darkred;
$cl-magenta: #AA198D;
$cl-teal: #00567A;
$cl-bg: #ebecf0;

// transitions
$transition-primary: 0.2s;


$small: 560px;
$middle: 760px;
$tablet: 1000px;
$laptop: 1170px;
$desktop: 1366px;
$wide: 1440px;
$large: 1800px;
